In [ ]:
import pandas as pd
import invest

In [ ]:
# 주식 코드와 시작시간을 이용하여 데이터를 로드
input_code = 'AAPL'
input_time = '2020-01-01'

In [ ]:
# 데이터 로드
df = invest.load_data(input_code,input_time)

In [ ]:
df.head()

In [ ]:
# Invest라는 class 생성
invest_class = invest.Invest(
    df, _col = 'Close', _start = input_time
)

In [ ]:
# 유저가 보낸 데이터 중 투자 방식
input_type = 'boll'

In [ ]:
if input_type == 'bnh':
   result = invest_class.buyandhold()
elif input_type == 'boll':
   result =  invest_class.bollinger()
elif input_type == 'mmt' :
    result = invest_class.momentum()

In [ ]:
result

In [ ]:
result.reset_index(inplace=True)
result.head()

In [ ]:
result = result[['Date','Close','trade','rtn','acc_rtn']]
result

In [ ]:
result['ym'] = result['Date'].dt.strftime('%Y-%m')
result.groupby('ym')[['Close','rtn','acc_rtn']].agg(['mean','max'])

In [26]:
pd.concat([result.groupby('ym')[['Close','trade','acc_rtn']].max(),
result.groupby('ym')[['rtn']].mean()],axis=1)

              Close trade   acc_rtn       rtn
ym
2020-01   78.524147        1.000000  1.000000
2020-02   79.404579   buy  1.000000  1.000000
2020-03   73.468674   buy  1.000000  1.000000
2020-04   71.299088   buy  1.000000  0.998223
2020-05   77.680138        0.962674  1.000000
...             ...   ...       ...       ...
2024-11  237.069351   buy  1.640100  1.002997
2024-12  258.735504        1.640100  1.000000
2025-01  244.730927   buy  1.640100  1.000000
2025-02  247.100006   buy  1.640100  1.000000
2025-03  239.070007   buy  1.640100  1.000000

[63 rows x 4 columns]

In [ ]:
# DataFrame을 [{},{}]
data = result.to_dict(orient='records')
data

In [ ]:
# 컬럼들의 리스트
col_list = list(result.columns)
col_list

In [ ]:
# x축 데이터
x_data = list(result['Date'])
x_data

In [ ]:
# rtn 데이터
y_list = list(result['rtn'])
y_list

In [ ]:
y2_list = list(result['acc_rtn'])
y2_list